* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: auto;
    justify-content: flex-start;
    background-color: bisque;
}

h2 {
    text-align: center;
}

button {
    background-color: blueviolet;
    color: cornsilk;
    border-radius: 6px;
    cursor: pointer;
    font-size: 30px;
    max-width: 210px;
    margin-left: 45%;
    display: block;
}

input {
    margin-left: 43%;
}


header{
    background-color: blueviolet;
    color: cornsilk;
}

nav {
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

nav a {
    color: cornsilk;
    text-decoration: none;
}

p {
    text-align: center;
}

.hidden {
    display: none;
}


@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    #start-button {
        flex-direction: column;
        margin-left: 30%;
    }
}